.viewr-body {
  margin-top: -10vh;
  padding: 30px 0px 26px;
  display: grid;
  grid-gap: 25px;
  gap: 25px;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.viewr-image-wrapper {
  /* width: 20%;
    margin: 10px;
    box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px,
    rgb(0 0 0 / 73%) 0px 16px 10px -10px;
    transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
    border: 3px solid rgba(249, 249, 249, 0.1);
    border-radius: 8px;
    cursor: pointer; */

  /* padding-top: 56.25%; */
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px,
    rgb(0 0 0 / 73%) 0px 16px 10px -10px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  border: 3px solid rgba(249, 249, 249, 0.1);
}

.viewr-image {
  /* border: 1px solid white; */
  /* width: 100%; */

  inset: 0px;
  display: block;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  position: relative;
  transition: opacity 500ms ease-in-out 0s;
  width: 100%;
  z-index: 2;
  top: 0;
}

.viewr-video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  opacity: 0;
  z-index: 1;
}

.viewr-image-wrapper:hover {
    box-shadow: rgb(0 0 0 / 80%) 0px 40px 58px -16px,
    rgb(0 0 0 / 72%) 0px 30px 22px -10px;
    transform: scale(1.05);
    border-color: rgba(249, 249, 249, 0.8);
}

.viewr-image-wrapper:hover .viewr-video  {
    opacity: 1;
}

@media (max-width: 768px) {
  .viewr-body {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
