.home-body {
    position: relative;
    min-height: calc(100vh - 250px);
    overflow-x: hidden;
    display: block;
    top: 72px;
    padding: 0 calc(1.5vw - 5px);
}

.home-body::after{
    background-image: url('../../assets/images/home-background.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    content: '';
    position: absolute;
    inset: 0;
    opacity: 1;
    z-index: -1;
}
