.navbar-body {
    background-color: #090b13;
    height: 70px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
}

.navbar-logo {
    width: 75px;
    cursor: pointer;
}

.navigation {
    display: flex;
    padding: 3px 6px;
}

li {
    list-style: none;
    font-size: 13px;
    color: rgb(249, 249, 249);
    font-weight: 500;
    
}


.navigation-link-wrapper {
    display: flex;
    align-items: center;
    margin: 0px 10px;
    cursor: pointer;
}

.icon-image {
    width: 30px;
    padding: 0px 3px;
}


.navbar-login-button {
    border: 1px solid rgb(249, 249, 249);
    border-radius: 4px;
    padding: 4px;
    height: 6vh;
    width: 7vw;
    transition: all 0.2s ease 0s;
    cursor: pointer;
    font-size: 18px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-login-button:hover {
    background-color: rgb(249, 249, 249);
    color: #090b13;
}

.profile-pic {
    width: 50%;
    border-radius: 50%;
}

/* .navigation-link-wrapper::before {
    content: "";
    background-color: rgb(249, 249, 249);
    border-radius: 0px 0px 4px 4px;
    bottom: -6px;
    height: 2px;
    left: 0;
    opacity: 0;
    right: 0px;
    transform-origin: left center;
    transform: scaleX(0);
    transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.96);
    visibility: hidden;
    width: auto;
}

.navigation-link-wrapper:hover::before {
    transform: scaleX(1);
    visibility: visible;
    opacity: 1 !important;
} */



@media only screen and (max-width: 768px){
    .navigation {
        display: none;
    }
}