.login-section {
  overflow: hidden;
  height: 100vh;
  background-image: url("../../assets/images/login-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 60vh;
  max-width: 80%;
  margin-bottom: 5vh;
  /* padding: 80px 40px; */
}


.login-button {
  background-color: #0063ef;
  width: 55%;
  height: 8vh;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #f9f9f9;
  cursor: pointer;
  letter-spacing: 2px;
  font-size: 20px;
}

.login-button:hover {
    background-color: #0483ee;
}

@media only screen and (min-width: 768px) {
  .content {
    height: 50vh;
  }
  .cta-logoOne,
  .cta-logoTwo {
    width: 50%;
  }
}

.description {
    max-width: 50%;
    text-align: center;
    color: hsla(0, 0%, 95.3, 1);
    font-size: 11px;
    line-height: 1.5;
    letter-spacing: 1.5px;
}


/* Media Queries */

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .content {
    height: 30vh;
  }

  .cta-logoOne,
  .cta-logoTwo {
    width: 60%;
  }

  .description {
    max-width: 65%;
  }

  .login-button {
    width: 70%;
    height: 6vh;
  }
}

@media only screen and (max-width: 479px) {
  .content {
    height: 29vh;
  }
  .description {
    max-width: 100%;
  }

  .cta-logoOne,
  .cta-logoTwo {
    width: 90%;
  }

  .login-button {
    width: 100%;
    height: 5vh;
  }
}
